<div class="dashboard">
    <span ng-show="info.memory">Memory: {{info.memory | megabyte}}</span>
    <span>Response Time: {{info.responseTime | millisecond}}</span>
    <span>Load Time: {{info.loadTime | millisecond}}</span>
    <span>Objects: {{info.objects}}</span>
    <span ng-show="info.liquidFps">Liquid FPS: {{info.liquidFps}}</span>
    <span ng-show="info.steamFps">Steam FPS: {{info.steamFps}}</span>
    <span ng-show="info.bubbleFps">Bubble FPS: {{info.bubbleFps}}</span>
    <span ng-show="info.flameFps">Flame FPS: {{info.flameFps}}</span>
</div>