<div class="manual" ng-click="changeStatus()">
    <img src="assets/images/lab/manual_tab.png" alt="Lab Manual" />
    <div class="manual_inner" ng-click="$event.stopPropagation()">
        <div id="manual-header">
            <img src="assets/images/manual/logo-courses.png" width="50" />
            <span>{{title}}</span>
        </div>
        <ul kendo-panel-bar="manual_widget" class="manual_content" k-on-expand="onExpand(kendoEvent)" k-on-collapse="onCollapse(kendoEvent)">
            <li class="k-state-active manual_content" id="m-background">
                <span class="k-link k-header">
                    <i class="fa fa-book fa-2x"></i>{{manualData.background.title}}
                </span>
                <div class="scroll manual-content" ng-bind-html="background"></div>
            </li>
            <li class="manual_content" id="m-procedures">
                <span class="k-link k-header k-state-selected">
                    <i class="fa fa-list-ol fa-2x"></i>{{manualData.procedure.title}}
                </span>
                <div class="scroll manual-content" ng-bind-html="procedures"></div>
            </li>
            <li class="manual_content" id="m-notes">
                <span class="k-link k-header">
                    <i class="fa fa-pencil-square-o fa-2x"></i>LAB NOTES
                </span>
                <div class="scroll manual-notes">
                    <div class="manual-content">
                        <textarea ng-model="labNotes" class="lab-notes js-print"></textarea>
                    </div>
                    
                    <button class="save-notes" ng-click="saveNotes();">Save Notes</button>
                    <button class="print-notes" ng-click="printNotes();">Print Notes</button>
                </div>
            </li>
        </ul>
    </div>
</div>