<div>
    <div class="media-player-body" ng-show="video">
        <span ng-hide="media.sources.length">No media available</span>
        <video width="455" height="335" id="player" preload="auto" ng-show="media.sources.length">
            <source ng-repeat="media in media.sources" ng-src="{{media.url | trusted}}" type="{{ media.type }}" />
        </video>
    </div>
    <div class="media-player-sheet" ng-hide="video">
        <span>{{media.sheet}}</span>
    </div>
    <div class="media-loading-bar" ng-show="loading">
        <div class="media-loading-bar-inner">
            <span>Searching...</span>
            <img src="assets/images/controls/progressbar.gif"/>
        </div>
    </div>
    <div class="media-player-footer">
        <a href="#" ng-click="showVideo()"><img src="assets/images/controls/ico2.png"/></a>
        <a href="#" ng-click="showSheet()"><img src="assets/images/controls/ico5.png"/></a>
    </div>
</div>