<div class="testtube tool-wrap">
    <div class="sub-thermometer" ng-if="uiData.thermometer" ng-drag="true"
         ng-drag-data="uiData.thermometer" ng-drag-reset="false"
         ng-style="{position: 'absolute', left: uiData.thermometerLeft, top: uiData.thermometerTop}">
        <thermometer ui-data="uiData.thermometer"></thermometer>
    </div>

    <canvas class="testtube-canvas"></canvas>
    <canvas class="bubble-canvas"></canvas>
    <canvas class="steam-canvas"></canvas>


    <audio class="bubble-sound" loop>
        <source src="assets/audio/bubbling.ogg" type="audio/ogg">
        <source src="assets/audio/bubbling.mp3" type="audio/mp3">
    </audio>
    <audio class="pour-sound" loop>
        <source src="assets/audio/liquid.ogg" type="audio/ogg">
        <source src="assets/audio/liquid.mp3" type="audio/mp3">
    </audio>
</div>
