<div class="erlenmeyerflask tool-wrap">
    <canvas class="steam-canvas"></canvas>
    <div class="sub-thermometer" ng-if="uiData.thermometer" ng-drag="true"
         ng-drag-data="uiData.thermometer" ng-drag-reset="false"
         ng-style="{position: 'absolute', left: uiData.thermometerLeft, top: uiData.thermometerTop}">
        <thermometer ui-data="uiData.thermometer" data-uuid="{{uiData.thermometer.uuid}}" lab-tooltip="{{uiData.thermometer.label}}" lab-tooltip-type="delayed"></thermometer>
    </div>
    <div class="sub-pressuregauge" ng-if="uiData.pressuregauge" ng-drag="true"
         ng-drag-data="uiData.pressuregauge" ng-drag-reset="false"
         ng-style="{position: 'absolute', left: uiData.pressuregaugeLeft, top: uiData.pressuregaugeTop}">
        <pressuregauge ui-data="uiData.pressuregauge" data-uuid="{{uiData.pressuregauge.uuid}}" lab-tooltip="{{uiData.pressuregauge.label}}" lab-tooltip-type="delayed"></pressuregauge>
    </div>
    <div class="stopper" ng-if="uiData.state.isClosed" ng-style="{backgroundImage: 'url(' + uiData.images.stopperImg + ')'}"/>
    <canvas class="erlenmeyerflask-canvas"></canvas>
    <canvas class="outline-canvas" style="display:none"></canvas>
    <canvas class="erlenmeyerflask-canvas-solid" style="display:none"></canvas>
    <canvas class="erlenmeyerflask-canvas-solid2" style="display:none"></canvas>
    <canvas class="bubble-canvas"></canvas>

    <audio class="bubble-sound" loop>
        <source src="assets/audio/bubbling.ogg" type="audio/ogg">
        <source src="assets/audio/bubbling.mp3" type="audio/mp3">
    </audio>
    <audio class="pour-sound" loop>
        <source src="assets/audio/liquid.ogg" type="audio/ogg">
        <source src="assets/audio/liquid.mp3" type="audio/mp3">
    </audio>
    <audio class="explode-sound">
        <source src="assets/audio/explode.ogg" type="audio/ogg">
        <source src="assets/audio/explode.mp3" type="audio/mp3">
    </audio>

    <audio class="shatter-sound">
        <source src="assets/audio/shatter.mp3" type="audio/mp3">
    </audio>
    
    <canvas class="exploding-canvas"></canvas>
</div>
