<div class="modal-dialog">
    <section>
        <div class="modal-header">
            <img class="close" ng-click="cancel()" width="24" src="assets/images/controls/close.png" alt="close" />

            <h3 class="modal-title">{{data.title}}</h3>
        </div>

        <div class="modal-body">
            <p class="msg">{{data.message}}</p>
        </div>

        <div class="modal-footer">
            <button class="btn" type="submit" ng-click="ok()" value="Submit">OK</button>
        </div>
    </section>
</div>