<div class="modal-dialog">
    <section>
        <div class="modal-header">
            <img class="close" ng-click="cancel()" width="24" src="assets/images/controls/close.png" alt="close" />

            <h3 class="modal-title">Exit Lab Configrmation</h3>
        </div>

        <div class="modal-body">
            <p class="msg">
                Clicking 'OK' will take you out of this Lab.
                Are you sure want to Exit.
            </p>
        </div>

        <div class="modal-footer">
            <button class="btn" ng-click="ok()">OK</button>
        </div>
    </section>
</div>
