<div class="bunsenburner tool-wrap">
    <canvas class="outline-canvas" style="display:none"></canvas>
    <canvas class="flame-canvas"></canvas>

    <div class="bunsenburner-tap" ng-click="adjustFlame();" ng-cancel-drag></div>

    <div class="sub-beaker inner-item" ng-if="uiData.beaker" ng-drag="true" ng-drag-data="uiData.beaker" ng-drag-reset="false" ng-attr-id="{{uiData.beaker.uuid}}"
         ng-drop="true" ng-drop-success="onDropToBeakerComplete($data,$event)" ng-drop-name="uiData.beaker.name" data-drop-uuid="{{uiData.beaker.uuid}}">
        <beaker ui-data="uiData.beaker" data-uuid="{{uiData.beaker.uuid}}" lab-tooltip="{{uiData.beaker.label}}" lab-tooltip-type="delayed"></beaker>
    </div>
    <div class="sub-erlenmeyerflask inner-item" ng-if="uiData.erlenmeyerflask" ng-drag="true" ng-drag-data="uiData.erlenmeyerflask" ng-drag-reset="false" ng-attr-id="{{uiData.erlenmeyerflask.uuid}}"
         ng-drop="true" ng-drop-success="onDropToErlenmeyerflaskComplete($data,$event)" ng-drop-name="uiData.erlenmeyerflask.name" data-drop-uuid="{{uiData.erlenmeyerflask.uuid}}">
        <erlenmeyerflask ui-data="uiData.erlenmeyerflask" data-uuid="{{uiData.erlenmeyerflask.uuid}}" lab-tooltip="{{uiData.erlenmeyerflask.label}}" lab-tooltip-type="delayed"></erlenmeyerflask>
    </div>
    <div class="sub-crucible inner-item" ng-if="uiData.crucible" ng-drag="true" ng-drag-data="uiData.crucible" ng-drag-reset="false" ng-attr-id="{{uiData.crucible.uuid}}"
         ng-drop="true" ng-drop-success="onDropToCrucibleComplete($data,$event)" ng-drop-name="uiData.crucible.name" data-drop-uuid="{{uiData.crucible.uuid}}">
        <crucible ui-data="uiData.crucible" data-uuid="{{uiData.crucible.uuid}}" lab-tooltip="{{uiData.crucible.label}}" lab-tooltip-type="delayed"></crucible>
    </div>
    <div class="bunsenburner-tripod" ng-if="uiData.beaker || uiData.erlenmeyerflask || uiData.crucible" ng-style="{backgroundImage: 'url(' + uiData.images.tripodImg + ')'}"/>

    <audio class="flame-sound" loop>
        <source src="assets/audio/fire.mp3" type="audio/mp3">
    </audio>
</div>